In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import StratifiedKFold, train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import top_k_accuracy_score

from catboost import CatBoostClassifier, Pool

from copy import deepcopy

# Suppress warnings
import warnings
warnings.filterwarnings("ignore")

import joblib

In [4]:
# Load data
train_df = pd.read_csv('playground-series-s5e6/train.csv')
test_df = pd.read_csv('playground-series-s5e6/test.csv')
train_df

,id,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,0,37,70,36,Clayey,Sugarcane,36,4,5,28-28
1,1,27,69,65,Sandy,Millets,30,6,18,28-28
2,2,29,63,32,Sandy,Millets,24,12,16,17-17-17
3,3,35,62,54,Sandy,Barley,39,12,4,10-26-26
4,4,35,58,43,Red,Paddy,37,2,16,DAP
...,...,...,...,...,...,...,...,...,...,...
749995,749995,25,69,30,Clayey,Maize,8,16,6,28-28
749996,749996,37,64,58,Loamy,Sugarcane,38,8,20,17-17-17
749997,749997,35,68,59,Sandy,Ground Nuts,6,11,29,10-26-26
749998,749998,31,68,29,Red,Cotton,9,11,12,20-20
749999,749999,33,55,29,Loamy,Cotton,4,10,9,Urea

In [5]:
# Encode categorical features
cat_features = ['Soil Type', 'Crop Type']
encoders = {}

for col in cat_features:
    le = LabelEncoder()
    train_df[col] = le.fit_transform(train_df[col])
    test_df[col] = le.transform(test_df[col])
    encoders[col] = le

# Encode target
target_le = LabelEncoder()
train_df['Fertilizer Name'] = target_le.fit_transform(train_df['Fertilizer Name'])
class_names = list(target_le.classes_)

# Prepare features and target
features = ['Temparature', 'Humidity', 'Moisture', 'Soil Type', 'Crop Type',
            'Nitrogen', 'Potassium', 'Phosphorous']
X = train_df[features]
y = train_df['Fertilizer Name']
X_test = test_df[features]

In [6]:
# MAP@3 scorer
def mapk(actual, predicted, k=3):
    def apk(a, p, k):
        p = p[:k]
        score = 0.0
        hits = 0
        seen = set()
        for i, pred in enumerate(p):
            if pred in a and pred not in seen:
                hits += 1
                score += hits / (i + 1.0)
                seen.add(pred)
        return score / min(len(a), k)
    return np.mean([apk(a, p, k) for a, p in zip(actual, predicted)])

In [15]:
FOLDS = 5
skf = StratifiedKFold(n_splits=FOLDS, shuffle=True, random_state=42)

oof = np.zeros((len(X), len(class_names)))
pred_prob = np.zeros((len(X_test), len(class_names)))

# Categorical feature indices (column names work too)
cat_features = ['Soil Type', 'Crop Type']

for i, (train_idx, valid_idx) in enumerate(skf.split(X, y)):
    print(f"############### FOLD {i+1} ###############")
    
    x_train, x_valid = X.iloc[train_idx], X.iloc[valid_idx]
    y_train, y_valid = y.iloc[train_idx], y.iloc[valid_idx]
    
    model = CatBoostClassifier(
        iterations=500, 
        learning_rate=0.2, 
        depth=6,
        subsample=0.86,
        bootstrap_type='Bernoulli',
        colsample_bylevel=0.467, 
        l2_leaf_reg=2.7, 
        random_seed=13,
        early_stopping_rounds=100, 
        loss_function='MultiClass',
        eval_metric='MultiClass', 
        verbose=100,
        use_best_model=True
    )
    
    train_pool = Pool(x_train, y_train, cat_features=cat_features)
    valid_pool = Pool(x_valid, y_valid, cat_features=cat_features)
    
    model.fit(train_pool, eval_set=valid_pool)
    
    oof[valid_idx] = model.predict_proba(x_valid)
    pred_prob += model.predict_proba(X_test)
    
    top_3_preds = np.argsort(oof[valid_idx], axis=1)[:, -3:][:, ::-1]
    actual = [[label] for label in y_valid]
    fold_map3 = mapk(actual, top_3_preds)
    print(f"âœ… FOLD {i+1}: MAP@3 Score: {fold_map3:.5f}")

############### FOLD 1 ###############
0:	learn: 1.9442083	test: 1.9442681	best: 1.9442681 (0)	total: 670ms	remaining: 5m 34s
100:	learn: 1.9285667	test: 1.9334911	best: 1.9334911 (100)	total: 1m 16s	remaining: 5m 4s
200:	learn: 1.9176183	test: 1.9289162	best: 1.9289162 (200)	total: 2m 39s	remaining: 3m 57s
300:	learn: 1.9098335	test: 1.9267103	best: 1.9267103 (300)	total: 4m	remaining: 2m 39s
400:	learn: 1.9032428	test: 1.9252772	best: 1.9252772 (400)	total: 5m 23s	remaining: 1m 19s
499:	learn: 1.8969015	test: 1.9241454	best: 1.9241454 (499)	total: 6m 44s	remaining: 0us

bestTest = 1.924145376
bestIteration = 499

âœ… FOLD 1: MAP@3 Score: 0.32235
############### FOLD 2 ###############
0:	learn: 1.9442128	test: 1.9442269	best: 1.9442269 (0)	total: 950ms	remaining: 7m 54s
100:	learn: 1.9281312	test: 1.9330321	best: 1.9330321 (100)	total: 1m 15s	remaining: 4m 59s
200:	learn: 1.9169104	test: 1.9282972	best: 1.9282972 (200)	total: 2m 40s	remaining: 3m 58s
300:	learn: 1.9093912	test: 1.9262241	best: 1.9262241 (300)	total: 4m 3s	remaining: 2m 41s
400:	learn: 1.9023314	test: 1.9248377	best: 1.9248377 (400)	total: 5m 29s	remaining: 1m 21s
499:	learn: 1.8957057	test: 1.9237951	best: 1.9237951 (499)	total: 6m 58s	remaining: 0us

bestTest = 1.92379514
bestIteration = 499

âœ… FOLD 2: MAP@3 Score: 0.32321
############### FOLD 3 ###############
0:	learn: 1.9440673	test: 1.9441701	best: 1.9441701 (0)	total: 1.02s	remaining: 8m 30s
100:	learn: 1.9280260	test: 1.9326919	best: 1.9326919 (100)	total: 1m 28s	remaining: 5m 48s
200:	learn: 1.9169768	test: 1.9278433	best: 1.9278433 (200)	total: 3m 3s	remaining: 4m 33s
300:	learn: 1.9092869	test: 1.9258961	best: 1.9258961 (300)	total: 4m 38s	remaining: 3m 3s
400:	learn: 1.9023603	test: 1.9243991	best: 1.9243991 (400)	total: 6m 9s	remaining: 1m 31s
499:	learn: 1.8956026	test: 1.9233980	best: 1.9233980 (499)	total: 7m 45s	remaining: 0us

bestTest = 1.923398008
bestIteration = 499

âœ… FOLD 3: MAP@3 Score: 0.32440
############### FOLD 4 ###############
0:	learn: 1.9440842	test: 1.9441546	best: 1.9441546 (0)	total: 1.1s	remaining: 9m 8s
100:	learn: 1.9282242	test: 1.9333516	best: 1.9333516 (100)	total: 1m 29s	remaining: 5m 52s
200:	learn: 1.9172617	test: 1.9287905	best: 1.9287905 (200)	total: 3m 7s	remaining: 4m 39s
300:	learn: 1.9097662	test: 1.9266148	best: 1.9266148 (300)	total: 4m 48s	remaining: 3m 11s
400:	learn: 1.9030363	test: 1.9249380	best: 1.9249380 (400)	total: 6m 35s	remaining: 1m 37s
499:	learn: 1.8960795	test: 1.9239431	best: 1.9239319 (495)	total: 8m 22s	remaining: 0us

bestTest = 1.923931897
bestIteration = 495

Shrink model to first 496 iterations.
âœ… FOLD 4: MAP@3 Score: 0.32347
############### FOLD 5 ###############
0:	learn: 1.9440526	test: 1.9441678	best: 1.9441678 (0)	total: 1.14s	remaining: 9m 28s
100:	learn: 1.9280748	test: 1.9332518	best: 1.9332518 (100)	total: 1m 40s	remaining: 6m 37s
200:	learn: 1.9166402	test: 1.9285578	best: 1.9285578 (200)	total: 3m 28s	remaining: 5m 9s
300:	learn: 1.9088926	test: 1.9263411	best: 1.9263411 (300)	total: 5m 8s	remaining: 3m 24s
400:	learn: 1.9019647	test: 1.9250048	best: 1.9250048 (400)	total: 6m 55s	remaining: 1m 42s
499:	learn: 1.8956306	test: 1.9239175	best: 1.9239165 (498)	total: 8m 40s	remaining: 0us

bestTest = 1.923916461
bestIteration = 498

Shrink model to first 499 iterations.
âœ… FOLD 5: MAP@3 Score: 0.32286

In [16]:
# Average predictions from all folds
pred_prob /= FOLDS

# Final top-3 predicted class indices for each row
final_top3 = np.argsort(pred_prob, axis=1)[:, -3:][:, ::-1]

# Map each index to the corresponding fertilizer name
def decode_labels(row):
    return ' '.join([class_names[int(i)] for i in row])

# Apply decoding to all predictions
final_top3_labels = pd.DataFrame(final_top3).apply(decode_labels, axis=1)

# Create submission DataFrame
submission_df = pd.DataFrame({
    'id': test_df['id'],
    'Fertilizer Name': final_top3_labels
})

submission_df.head()

       id             Fertilizer Name
0  750000          DAP 10-26-26 28-28
1  750001     17-17-17 20-20 10-26-26
2  750002     20-20 10-26-26 14-35-14
3  750003  14-35-14 17-17-17 10-26-26
4  750004        20-20 10-26-26 28-28

In [17]:
submission_df.to_csv('catboost_submission.csv', index=False)

In [18]:
n_classes = pred_prob.shape[1]

df = pd.DataFrame(pred_prob, columns=[f'class_{i}' for i in range(n_classes)])
df.to_csv('model4_pred_prob.csv', index=False)